.green-box{
  width: 300px;
  height: 300px;
  background-color: green;
  position: relative;
}

.light-green-box{
  height: 25%;
  width: 25%;
  background-color: lightgreen;
  left: 50px;
  top: 50px;
  position: absolute;
  border-radius: 5px;
}

section, div {
  display: inline-block;
}
section{
  margin: 20px;
}

svg {
  width: 300px;
  height: 300px;
}

svg > rect, svg > polyline, svg > polygon{
  fill: green;
  transition-duration: 1s
}

svg *:hover {
  fill: red;
  transition-duration: 1s;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}
